<app-card> </app-card>

<div class="mt-16 sm:mt-14 sm:ml-64">
  <div class="relative overflow-x-auto">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Bloembak</th>
          <th scope="col" class="px-6 py-3">Vochtgehalte</th>
          <th scope="col" class="px-6 py-3">Huidige plant</th>
          <th scope="col" class="px-6 py-3">Volgende plant</th>
          <th scope="col" class="px-6 py-3">Oogsten</th>
          <th scope="col" class="px-6 py-3">Status</th>
        </tr>
      </thead>
      <tbody>
        @for(bloembak of bloembakken; track i; let i = $index){
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            {{ bloembak.Name }}
          </th>
          <td class="px-6 py-4">{{ bloembak.Moisture }}%</td>
          <td class="px-6 py-4">{{ bloembak.CurrentCrop.Name }}</td>
          <td class="px-6 py-4">{{ bloembak.NextCrop.Name }}</td>
          <td class="px-6 py-4">
            {{ bloembak.CurrentCrop.HarvestTime | date : "MMMM yyyy" }}
          </td>
          @if(bloembak.Alive){
          <td>
            <span
              class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300"
            >
              <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
              Running
            </span>
          </td>
          } @else {
          <td>
            <span
              class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300"
            >
              <span class="w-2 h-2 me-1 bg-red-500 rounded-full"></span>
              Down
            </span>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
